<ion-header>
  <ion-navbar class="borde" hideBackButton>
    <ion-row>
      <ion-col>
        <button ion-button menuToggle class="botonMod">
          <ion-icon item-start name="menu" class="colorIcon3" style="zoom:1.5;height: 18px;"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <img src="./assets/imgs/Logoblanco.png" style="width: 60%;" alt="">
      </ion-col>
      <ion-col>
        <div align='end'>
          <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width:40%;border-radius:50%;">
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div style="background-color:none"></div>

  <ion-card style="width:40px" class="modal_content">
    <div class="" align="right">
      <a color="dark" (click)="closeModal()">
        <ion-icon name="close" color="dark"></ion-icon>
      </a>


    </div>

    <div class="" align="center">
      <img src="../assets/imgs/logo-negro Guest-.png" style="width:140px" alt="">
      <br>
      <b>INFORMACIÓN</b>
    </div>
    <br>
    <font size="2" style=" opacity:0.5" for="">Folio </font><br>
    <font size="2" style=" opacity:0.5" for="">Hora de reservación: {{historia.hora}}</font><br>
    <font size="2" style=" opacity:0.5" for="">Zona</font>
    <br>
    <br>
    <!--Prueba-->
    <!-- <ion-card class="card_atras"> -->
    <!-- <ion-card-content class="card_atras"> -->
    <!-- <ion-card-title> -->
    <!-- <h4 class="">Detalle Reservacion </h4> -->
    <!-- </ion-card-title> -->
    <div class="" align="center">
      <font for="" style="" size="2"><b>PRODUCTOS ADQUIRIDOS</b></font>
    </div>
    <br>
    <div class="" *ngFor="let producto of productos">
      <div class="row" style="">
        <div class="col-2">
          <img class="icon" src="../assets/imgs/Group 59.png" item-start>
        </div>
        <div class="col-5" style="margin-left:30px">
          <p class="">{{ producto.producto }} </p>

        </div>
        <div class="col-4" style="margin-left:35px">
          <label class="negro" item-end>$ {{ producto.costo }} </label>

        </div>

      </div>
      <!-- <img class="icon" src="../assets/imgs/Group 59.png" item-start> -->
      <!-- <p class="">{{ producto.producto }} </p> -->
    </div>

    <div class="" align="center">
      <b>_________________________________</b>
      <br>
      <ion-badge item-end></ion-badge>
      <!-- <img class="icon" src="../assets/imgs/icons/billete.png" item-start> -->
      <div class="">
        <b style="margin-left:20px">TOTAL &nbsp; &nbsp; &nbsp; &nbsp; $ {{sumatoria}}</b>
      </div>

      <!-- <b item-end>$ {{sumatoria}}</b> -->

    </div>

    <!-- </ion-card-content> -->

    <!-- </ion-card> -->

  </ion-card>

  <!--Prueba-->
  <!-- <ion-card class="card_atras">
    <ion-card-content class="card_atras">

      <div *ngFor="let reservacion of infoReservacion">
        <ion-card class="card_atras">
            <p text-center class="blanco_2">INFORMACIÓN</p>
            <p text-center class="blanco_2">Folio:{{reservacion.folio}}</p>
          !--<div *ngFor="let areas of nombresAreas">--
            <div *ngFor="let zonas of nombresZonas">
             !--<div *ngIf="reservaciones.idArea==areas.uid">--
               <div *ngIf="reservacion.idZona==zonas.uid">
                 <p text-center class="blanco_2">Hora de la reservación: {{reservacion.hora}}</p>
                !-- <p text-center class="blanco_2">Hora de la reservación: {{reservacion.idReservacion}}</p>--
                 !--<p text-center class="blanco_2">Área: {{areas.nombre}}</p>--
                 <p text-center class="blanco_2">Zona: {{zonas.nombre}}</p>
              </div>
             !--</div>--
           </div>
          !--</div>--
        </ion-card>

      <ion-item class="card_atras" *ngFor="let producto of productos">
        <img class="icon" src="../assets/imgs/icons/champagne.png" item-start>
        <p class="blanco_2">{{ producto.producto }} </p>
        <ion-badge class="negro" item-end>$ {{ producto.costo }} </ion-badge>
      </ion-item>
    <div *ngIf="validarCupon=='Noexiste'">

      <ion-item class="card_atras">
        <ion-badge item-end></ion-badge>
        <img class="icon" src="../assets/imgs/icons/billete.png" item-start>
        <a class="blanco_2">TOTAL</a>
        <ion-badge item-end>$ {{sumatoria}}</ion-badge>
      </ion-item>
            <ion-item class="card_atras">
                <img class="icon" src="../assets/imgs/icons/billete.png" item-start>
                <a class="blanco_2">Propina</a>
                <ion-badge class="negro" item-end>{{propinaRe2 | currency}}</ion-badge>
            </ion-item>
      <ion-item class="card_atras">
        <ion-badge item-end></ion-badge>
        <img class="icon" src="../assets/imgs/icons/billete.png" item-start>
        <a class="blanco_2">TOTAL FINAL</a>
        <ion-badge item-end>$ {{totalPropina}}</ion-badge>
      </ion-item>
    </div>
    <div *ngIf="validarCupon=='Existe'">
      <div *ngFor="let cupon of infoCupones">
         <div *ngIf="reservacion.uidCupon==cupon.uid">
             <ion-item class="card_atras">
               <img class="icon" src="../assets/imgs/icons/billete.png" item-start>
                 <a class="blanco_2">Cupon descuento</a>
                 <ion-badge class="negro" item-end>{{cupon.valorCupon | currency}}</ion-badge>
             </ion-item>
             <ion-row class="card_atras">
               <ion-item class="card_atras">
                 <img class="icon" src="../assets/imgs/icons/billete.png" item-start>
                   <a class="blanco_2">TOTAL DESCUENTO</a>
                   <ion-badge class="negro" item-end>{{reservacion.totalReservacion | currency}}</ion-badge>
               </ion-item>
             </ion-row>
             <ion-item class="card_atras">
                <img class="icon" src="../assets/imgs/icons/billete.png" item-start>
                 <a class="blanco_2">Propina</a>
                 <ion-badge class="negro" item-end>{{propinaRe | currency}}</ion-badge>
             </ion-item>
             <ion-row class="card_atras">
               <ion-item class="card_atras">
                 <img class="icon" src="../assets/imgs/icons/billete.png" item-start>
                   <a class="blanco_2">TOTAL FINAL</a>
                   <ion-badge class="negro" item-end>{{totalPropinaCupon | currency}}</ion-badge>
               </ion-item>
             </ion-row>
        </div>
     </div>
    </div>
     <ion-card class="card_atras" >
      <p *ngIf="infoReserCom_num != 0" text-center class="blanco_2">COMPARTIDA ENTRE</p>
      <div *ngFor="let compartidas of cuentasCompartidas">
       <div *ngIf="reservacion.idReservacion==compartidas.idReservacion">
         <div *ngFor="let users of infoUsers">
            <div *ngIf="compartidas.telefono==users.phoneNumber">
                <ion-item class="card_atras">
                  <img class="icon" src="../assets/imgs/icons/profile.png" item-start>
                    <p class="blanco_2">{{users.displayName}}</p>
                    !--<ion-badge class="negro">{{compartidas.totalDividido | currency}}</ion-badge>
                    <ion-badge class="negro" item-end >{{compartidas.estatus}}</ion-badge>--
                </ion-item>
              </div>
          </div>
         </div>
       </div>
     </ion-card>
     </div>
    </ion-card-content>
  </ion-card> -->

</ion-content>