<ion-header>
    <ion-navbar class="borde" hideBackButton>
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
                    <ion-icon item-start name="menu" class="colorIcon3" style="zoom:1.5;"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <img src="./assets/imgs/Logoblanco.png" style="width: 60%;" alt="">
            </ion-col>
            <ion-col>
                <div align='end'>
                    <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width:40%;border-radius:50%;">
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

    <div *ngIf="estatus == 0">

        <ion-row>
            <ion-col col-3>
                <ion-item text-center no-lines>
                    <ion-icon name="md-calendar" class="colorIcon" (click)="verEvento()"></ion-icon>
                    <p style="font-size: 11px;" (click)="verEvento()">EVENTOS</p>
                </ion-item>
            </ion-col>
            <ion-col col-5 style="margin-left: -25px;">
                <!-- <ion-item text-center no-lines>
                    <ion-icon name="md-time" class="colorIcon" (click)="verReservacion()"></ion-icon>
                    <p style="font-size: 11px;" (click)="verReservacion()">RESERVACIONES</p>
                </ion-item> -->
                <ion-item text-right class="card_atras" no-lines>
                    <ion-label>
                        <h3 class="colorIcon">Ciudad</h3>
                    </ion-label>
                    <ion-select [(ngModel)]="filterPostCiudad" interface="popover" >
                       <div *ngFor="let ciudad of ciudades">
                          <ion-option [value]="ciudad.ciudad">{{ciudad.ciudad}}</ion-option>
                       </div>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item text-right no-lines>
                    <ion-label>
                        <ion-icon name="md-list" class="colorIcon" color="black"></ion-icon>
                    </ion-label>
                    <ion-select [(ngModel)]="filterPost" interface="popover" class="colorIcon" style="color: #000;">
                        <ion-option value="bar">Bares</ion-option>
                        <ion-option value="antro">Antros</ion-option>
                        <ion-option value="restaurante">Restaurantes</ion-option>
                        <ion-option value="">Todos</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <br>

        <ion-item text-center no-lines>
            <label class="selecciona"> SELECCIONA EL LUGAR DE TU RESERVACIÓN </label>
        </ion-item>

        <div *ngFor="let user of usuarios">
            <div *ngIf="uidUserSesion==user.uid">
                <div *ngFor="let sucursal of sucursalesS" class="card_atras">
                    <div *ngIf="sucursal.ciudad==user.ciudad">

                        <ion-card>
                            <img [src]="sucursal.photoURL" />
                            <div class="card-title">
                                <ion-fab class="btnshare" top right edge>
                                    <button ion-fab color="dark">
                                        <ion-icon name="ios-arrow-dropdown" class="arrow"></ion-icon>
                                    </button>
                                    <ion-fab-list side="top right edge">
                                        <button class="fabbtn" ion-fab (click)="compartir(sucursal.displayName, sucursal.photoURL)">
                                            <!-- <img src="../assets/imgs/icons/facebook.png"> -->
                                            <ion-icon name="logo-facebook" style="color:#706F6F;"></ion-icon>
                                        </button>
                                    </ion-fab-list>
                                </ion-fab>
                                <b>{{sucursal.displayName}}</b>
                            </div>
                            <div class="card-subtitle">{{sucursal.direccion}}, {{sucursal.ciudad}}
                                <div align="right" (click)="reservar(sucursal.uid)">
                                    <img src="./assets/imgs/select.png" style="width: 30%;margin-top: -5%;" alt=""
                                    (click)="reservar(sucursal.uid)">
                                </div>
                            </div>

                        </ion-card>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="estatus == 1">

        <ion-row>
            <ion-col col-3>
                <ion-item text-center no-lines>
                    <ion-icon name="md-calendar" class="colorIcon" (click)="verEvento()"></ion-icon>
                    <p style="font-size: 11px;" (click)="verEvento()">EVENTOS</p>
                </ion-item>
            </ion-col>
            <ion-col col-5 style="margin-left: -25px;">
                <!-- <ion-item text-center no-lines>
                    <ion-icon name="md-time" class="colorIcon" (click)="verReservacion()"></ion-icon>
                    <p style="font-size: 11px;" (click)="verReservacion()">RESERVACIONES</p>
                </ion-item> -->
                <ion-item text-right class="card_atras" no-lines>
                    <ion-label>
                        <h3 class="colorIcon">Ciudad</h3>
                    </ion-label>
                    <ion-select [(ngModel)]="filterPostCiudad" interface="popover" >
                       <div *ngFor="let ciudad of ciudades">
                          <ion-option [value]="ciudad.ciudad">{{ciudad.ciudad}}</ion-option>
                       </div>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item text-right no-lines>
                    <ion-label>
                        <ion-icon name="md-list" class="colorIcon" color="black"></ion-icon>
                    </ion-label>
                    <ion-select [(ngModel)]="filterPost" interface="popover" class="colorIcon" style="color: #000;">
                        <ion-option value="bar">Bares</ion-option>
                        <ion-option value="antro">Antros</ion-option>
                        <ion-option value="restaurante">Restaurantes</ion-option>
                        <ion-option value="">Todos</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <br>

        <ion-item text-center no-lines>
            <label class="selecciona"> SELECCIONA EL LUGAR DE TU RESERVACIÓN </label>
        </ion-item>


        <div *ngFor="let user of usuarios">
            <div *ngIf="uidUserSesion==user.uid">
                <div *ngFor="let sucursal of sucursales | pipesCategoria:filterPost | pipesFilterCiudad2: filterPostCiudad" class="card_atras" (click)="reservar(sucursal.uid)">
                    <!-- <div *ngIf="sucursal.ciudad==user.ciudad"> -->
                        
                        <ion-card>
                            <img [src]="sucursal.photoURL" />
                            <div class="card-title">
                                <ion-fab class="btnshare" top right edge>
                                    <button ion-fab color="dark">
                                        <ion-icon name="ios-arrow-dropdown" class="arrow"></ion-icon>
                                    </button>
                                    <ion-fab-list side="top right edge">
                                        <button class="fabbtn" ion-fab (click)="compartir(sucursal.displayName, sucursal.photoURL)">
                                            <!-- <img src="../assets/imgs/icons/facebook.png"> -->
                                            <ion-icon name="logo-facebook" style="color:#706F6F;"></ion-icon>
                                        </button>
                                    </ion-fab-list>
                                </ion-fab>
                                <b>{{sucursal.displayName}}</b>
                            </div>
                            <div class="card-subtitle">{{sucursal.direccion}}, {{sucursal.ciudad}}
                                <div align="right" (click)="reservar(sucursal.uid)">
                                    <img src="./assets/imgs/select.png" style="width: 30%;margin-top: -5%;" alt=""
                                    (click)="reservar(sucursal.uid)">
                                </div>
                            </div>

                        </ion-card>

                    <!-- </div> -->
                </div>
            </div>
        </div>

    </div>

</ion-content>

